.box {
	position: relative;
}

.box + .box {
	margin-top: 150px;
	@include media(s) {
		margin-top: 80px;
	}
}

.box--s + .box--s {
	margin-top: 70px;
}

.hidden-to-l + .box--s {
	@include media(l) {
		margin-top: 0;
	}
	@include media(s) {
		margin-top: 0;
	}
}


.box--stick + .box--stick {
	margin-top: 0;
	@include media(s) {
		margin-top: 0;
	}
}

.box--waves {
	display: flex;
	justify-content: center;
	svg {
		width: 100%;
		flex-shrink: 0;
		min-width: 1435px;
		@include media(m) {
			display: none;
		}
	}
}

.box + .box--waves {
	margin-top: 35px;
	@include media(m) {
		margin-top: 95px;
	}
	@include media(s) {
		margin-top: 80px;
	}
}

.box--waves + .box {
	margin-top: 0;
	@include media(s) {
		margin-top: 0;
	}
}

.box--accent {
	padding: 100px 0 100px;
	overflow: hidden;
	@include media(s) {
		padding: 40px 0 24px;
	}

	.box__ellipse {
		position: absolute;
		top: -187px;
		right: -238px;
		z-index: -1;
		@include media(s) {
			left: -148px;
			top: -146px;
			right: unset;
		}
	}

	.box__ellipse2 {
		position: absolute;
		top: -187px;
		left: -308px;
		z-index: -1;
		@include media(s) {
			left: 14px;
			top: -155px;
		}
	}
}

.box--back {
	padding: 80px 0 80px;
	overflow: hidden;

	@include media(s) {
		padding: 40px 0 30px;
	}

	.btn {
		margin-bottom: 20px;
		margin-right: 5px;
	}

	.box__ellipse {
		position: absolute;
		top: -65px;
		right: 278px;
		z-index: -1;
		@include media(l) {
			right: 0;
			top: -30px;
		}
		@include media(s) {
			top: -116px;
			right: -191px;
			left: unset;
		}
	}

	.box__ellipse2 {
		position: absolute;
		top: -116px;
		left: 234px;
		z-index: -1;
		@include media(l) {
			left: 0;
			top: -70px;
		}
		@include media(s) {
			top: -76px;
			left: -108px;
			right: unset;
		}
	}
}

.box--thinMob {
	@include media(s) {
		max-width: 292px;
		margin: 0 auto;
	}
}

.box--line {
	&:before {
		content: "";
		display: block;
		width: 14px;
		height: 14px;
		border: 2px solid $color-brand-light;
		border-radius: 50%;
		position: absolute;
		left: 1px;
		top: 7px;
		@include media(l) {
			display: none;
		}
	}
	&:after {
		content: "";
		display: block;
		width: 2px;
		height: calc(100% + 55px);
		background-color: $color-brand-light;
		position: absolute;
		left: 7px;
		top: 24px;
		@include media(l) {
			display: none;
		}
	}
}

.box--line.box--cells {
	&:before {
		top: 53px;
	}
	&:after {
		top: 72px;
		height: calc(100% - 115px);
	}
}

.box--line.box--cells.box--bottom {
	padding-bottom: 100px;
	&:after {
		top: 72px;
		height: calc(100% - 62px);
	}

	@include media(s) {
		padding-bottom: 45px;
	}
}


.box--line.box--top {
	&:before {
		top: 14px;
	}
	&:after {
		top: 31px;
		height: calc(100% + 65px);
	}
}

.box--line.box--line-top {
	&:before {
		top: 0;
	}
	&:after {
		top: 18px;
	}
}

.box__header {
	margin-bottom: 100px;
	@include media(s) {
		margin-bottom: 40px;
	}
}

.box__header--l {
	margin-bottom: 80px;
	@include media(s) {
		margin-bottom: 40px;
	}
}

.box__header--m {
	margin-bottom: 40px;
	@include media(s) {
		margin-bottom: 32px;
	}
}

.box__header--s {
	margin-bottom: 32px;
	@include media(s) {
		margin-bottom: 40px;
	}
}

.box__header--sMob {
	@include media(s) {
		margin-bottom: 32px;
	}
}

.box__headerWrap {
	position: relative;

	.box__header {
		padding-bottom: 100px;
		margin-bottom: 0;
		@include media(s) {
			padding-bottom: 40px;
		}
	}

	svg {
		position: absolute;
		left: -88px;
		top: 45px;
		z-index: -2;
		@include media(l) {
			display: none;
		}
	}

	&:after {
		content: "";
		display: block;
		width: 2px;
		height: calc(100% - 95px);
		background-color: $color-brand-light;
		position: absolute;
		left: -64px;
		top: 98px;
		@include media(l) {
			display: none;
		}
	}
}

.box__footer {
	margin-top: 56px;
	@include media(s) {
		margin-top: 16px;
	}
}

.box__title {
	@include clear-title;
	font-size: 32px;
	line-height: 1.5;
	font-weight: 500;
	@include media(s) {
		font-size: 24px;
		line-height: 1.3;
	}
}

.box__title--thin {
	max-width: 668px;
}

.box__indent {
	margin-top: 50px;
	@include media(s) {
		margin-top: 0;
	}
}

.box__decor {
	position: absolute;
	top: 25px;
	left: -400px;
	z-index: -1;
	@include media(s) {
		top: 170px;
		left: unset;
		right: -227px;
	}
}

.box__decor2 {
	position: absolute;
	top: 99px;
	left: -450px;
	z-index: -1;
}

.box__decor3 {
	position: absolute;
	top: -167px;
	left: -450px;
	z-index: -1;
}

.box__decor4 {
	position: absolute;
	top: 221px;
	right: -422px;
	z-index: -1;
}

.box__dots {
	position: absolute;
	bottom: -163px;
	right: -37px;
	z-index: -1;
}

.box__pic {
	position: absolute;
	top: -45px;
	right: -32px;
	width: 65%;
	max-width: 785px;

	img {
		vertical-align: middle;
		max-width: 100%;
		height: auto;
	}

	.box__decor {
		top: -243px;
		left: -288px;
		z-index: -2;
	}

	.box__decor2 {
		top: -303px;
		left: 82px;
		z-index: -2;
	}

	.box__wheel {
		position: absolute;
		top: -104px;
		right: -54px;
		z-index: -1;
	}
}

.box__pic--graph {
	top: -32px;

	.box__decor {
		top: -212px;
		left: -277px;
	}

	.box__decor2 {
		top: -234px;
		left: 63px;
	}
}

@include media(l) {
	.box__pic {
		position: static;
		width: 100%;
		max-width: 100%;
		padding: 0 4px 40px;

		img {
			width: 100%;
		}

		.box__wheel {
			width: 380px;
		}
	}

	.box__pic--graph {
		padding: 0 30px 40px;
	}
}

@include media(s) {
	.box__pic {
		.box__wheel {
			width: 229px;
			top: -40px;
			right: -75px;
		}

		.box__decor {
			top: -160px;
			left: -160px;
		}

		.box__decor2 {
			top: -140px;
		}
	}

	.box__pic--graph {
		.box__decor {
			top: -120px;
			left: -120px;
		}
	}
}



