.cardBox {
	border-radius: $border-radius;
	box-shadow: 0 3px 30px rgba(0, 28, 71, 0.1);
	background: linear-gradient(180deg, #FFFFFF 20.31%, #EEF5FF 100%);
	padding: 40px 50px 20px;
	color: $color-gray;
	width: 100%;
	max-width: 634px;
	min-height: 595px;
	@include media(m) {
		max-width: 100%;
		min-height: unset;
	}
	@include media(s) {
		font-size: 15px;
		padding: 16px 15px 32px 24px;

		& .fz-16 {
			font-size: 16px;
		}
	}
}

.cardBox--flex {
	display: flex;
	flex-direction: column;
}

.cardBox--back {
	background: none;
	padding: 0;
	overflow: hidden;
	@include media(m) {
		display: none;
	}
}

.cardBox__item {
	padding: 20px 0;
	@include media(s) {
		display: block;
	}
}

.cardBox__item--border {
	border-top: 1px solid $color-border;
}

.cardBox__item--middle {
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
	@include media(s) {
		margin-right: 17px;
	}
}

.cardBox__item--wide {
	margin-right: -10px;
	@include media(m) {
		margin-right: 0;
	}
}

.cardBox__item--wideExtra {
	margin-right: -22px;
	@include media(m) {
		margin-right: 0;
	}
}

.cardBox__caption {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 2px;
	@include media(s) {
		font-size: 15px;
	}
}

.cardBox__title {
	@include clear-title;
	line-height: 1.1;
	font-size: 32px;
	color: $color-text;
	@include media(s) {
		font-size: 24px;
		margin-bottom: 6px;
	}
}

.cardBox__title--wide {
	margin-right: -30px;
	@include media(m) {
		margin-right: 0;
	}
}


.cardBox__back {
	width: 100%;
	height: 100%;
	img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
		vertical-align: middle;
		border-radius: $border-radius;
	}
}

.cardBox__row {
	display: flex;
	@include media(s) {
		display: block;
	}
}

.cardBox__rowItem--fix {
	width: 50%;
	max-width: 100%;
	&:not(:last-child) {
		margin-right: 15px;
		@include media(s) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
	@include media(s) {
		width: 100%;
	}
}

.cardBox__rowItem--fixL {
	width: 60%;
	max-width: 100%;
	&:not(:last-child) {
		margin-right: 15px;
		@include media(s) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
	@include media(s) {
		width: 100%;
	}
}

.cardBox__footer {
	margin-bottom: 60px;
	margin-top: auto;

	.btn {
		font-size: 16px;
		@include media(s) {
			font-size: 14px;
			width: calc(100% + 23px);
			margin-left: -16px;
		}
	}

	@include media(s) {
		margin-bottom: 8px;
	}

}

.cardBoxWrap {
	padding-top: 30px;

	.cardBox--back {
		position: absolute;
		top: -80px;
		left: 0;
		height: calc(100% - 60px);
		z-index: -1;
	}

	.cardBox--back.cardBox--s {
		height: 512px;
	}

	@include media(m) {
		padding: 0;
	}

	@include media(s) {
		width: calc(100% + 16px);
		margin: 0 -8px;
	}
}

.cardBoxWrap--reverse {
	padding-top: 0;
	padding-bottom: 80px;

	.cardBoxWrap__inner {
		justify-content: flex-start;
	}
	.cardBox--back {
		top: 80px;
		left: unset;
		right: 0;
	}

	@include media(m) {
		padding: 0;
	}
}

.cardBoxWrap__inner {
	display: flex;
	justify-content: flex-end;
	position: relative;
	width: 100%;
}
