.card {

}

.card--s {
	max-width: 226px;
	@include media(s) {
		max-width: 100%;
	}
}

.card--m {
	max-width: 260px;
	@include media(s) {
		max-width: 100%;
	}
}

.card--radius {
	border-radius: $border-radius;
}

.card--left {
	margin-left: 42px;
	@include media(l) {
		margin-left: 0;
	}
}

.card--right {
	margin-right: 71px;
	@include media(s) {
		margin-right: 0;
	}
}

.card--rightS {
	margin-right: 30px;
	@include media(s) {
		margin-right: 0;
	}
}

.card--224 {
	width: 224px;
}

.card--277 {
	width: 277px;
}

.card__badge {
	margin-bottom: 24px;
}

@include media(from, m) {
	.card.moveRight {
		.badge__rect {
			transition: transform 0.4s ease;
		}
	}

	.card.moveRight:hover {
		.badge__rect {
			transform: translateX(8px) skewX(-10deg);
		}
	}
}
