.plateBrand {
	border-radius: $border-radius;
	background-color: rgba(216, 231, 255, 0.5);
	padding: 24px 40px 24px 24px;
}

.plateBrand--s {
	padding: 37px 18px 37px 26px;
}

.plateBrand--top {
	margin-top: 24px;
}
