.plate {
	background-color: $color-back;
	border-radius: $border-radius;
	box-shadow: 0 3px 30px rgba(0, 28, 71, 0.1);
	padding: 24px 30px 15px 32px;
	@include media(s) {
		padding: 20px 24px;
		min-height: 169px;
	}
}

.plate--s {
	padding: 20px 20px 30px;
	box-shadow: 0 3px 15px rgba(0, 28, 71, 0.1);
	@include media(s) {
		padding: 10px 20px 20px;
		min-height: 220px;
	}
}

.plate--center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.plate--grow {
	position: relative;
	background-color: transparent;
	box-shadow: none;
}

.plate--grow:hover {
	@include media(from, m) {
		.plate__inner {
			transform: scale(1.05);
		}
	}
}

.cells .plate {
	height: 100%;
}

.plate__inner {
	background-color: $color-back;
	border-radius: $border-radius;
	box-shadow: 0 3px 30px rgba(0, 28, 71, 0.1);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	transition: transform 0.4s ease;
}

.plate__text {
	margin-top: 5px;
	@include media(s) {
		margin-top: 10px;

		&.text {
			font-size: 18px;
		}
	}
}

.plate__content {
	margin-top: 8px;
	font-size: 18px;
	color: $color-text-dark;
	text-align: center;
	@include media(s) {
		font-size: 14px;
	}
}

.plate__content--s {
	max-width: 220px;
	@include media(s) {
		max-width: 100%;
	}
}

.plate__title {
	font-weight: 600;
	font-size: 20px;
	margin-top: 5px;
}

.plate__header {
	@include media(s) {
		display: flex;
		align-items: center;

		.plate__title {
			margin-top: 0;
			margin-left: 12px;
		}
	}
}

.plate__pic {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	object-fit: contain;
	@include media(s) {
		max-width: 198px;
	}
}
