.slider {
	.swiper-button-next,
	.swiper-button-prev {
		@include clear-btn;
		width: 50px;
		height: 50px;
		position: relative;

		&:hover {
			opacity: 0.6;
		}

		@include media(s) {
			width: 40px;
			height: 40px;
		}

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("data:image/svg+xml,%3Csvg width='34' height='16' viewBox='0 0 34 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9L1 7ZM33.7071 8.70711C34.0976 8.31658 34.0976 7.68342 33.7071 7.29289L27.3431 0.928932C26.9526 0.538408 26.3195 0.538408 25.9289 0.928932C25.5384 1.31946 25.5384 1.95262 25.9289 2.34315L31.5858 8L25.9289 13.6569C25.5384 14.0474 25.5384 14.6805 25.9289 15.0711C26.3195 15.4616 26.9526 15.4616 27.3431 15.0711L33.7071 8.70711ZM1 9L33 9V7L1 7L1 9Z' fill='%23717171'/%3E%3C/svg%3E%0A");
			background-position: center;
			background-repeat: no-repeat;

			@include media(s) {
				background-image: url("data:image/svg+xml,%3Csvg width='33' height='8' viewBox='0 0 33 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.3536 4.35355C32.5488 4.15829 32.5488 3.84171 32.3536 3.64645L29.1716 0.464466C28.9763 0.269204 28.6597 0.269204 28.4645 0.464466C28.2692 0.659728 28.2692 0.976311 28.4645 1.17157L31.2929 4L28.4645 6.82843C28.2692 7.02369 28.2692 7.34027 28.4645 7.53553C28.6597 7.7308 28.9763 7.7308 29.1716 7.53553L32.3536 4.35355ZM0 4.5H32V3.5H0V4.5Z' fill='%23717171'/%3E%3C/svg%3E%0A");
			}
		}
	}
}

.slider--press {
	position: relative;
	margin: -15px;
	.swiper-container {
		padding: 15px;
		@include media(s) {
			padding-top: 28px;
		}
	}

	.swiper-wrapper {
		display: flex;
		align-items: stretch;
	}

	.swiper-slide {
		height: auto;

		.plate {
			height: 100%;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		position: absolute;
		right: -50px;
		top: 50%;
		transform: translateY(-50%);

		@include media(xxxl) {
			top: -32px;
			transform: none;
			right: 10px;
		}

		@include media(s) {
			right: 10px;
			top: -15px;
		}

		&:hover {
			opacity: 0.6;
		}
	}

	.swiper-button-prev {
		right: unset;
		left: -50px;
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg width='34' height='16' viewBox='0 0 34 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33 9C33.5523 9 34 8.55228 34 8C34 7.44772 33.5523 7 33 7V9ZM0.292892 7.29289C-0.0976295 7.68342 -0.0976295 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM33 7L1 7V9L33 9V7Z' fill='%23717171'/%3E%3C/svg%3E%0A");
			@include media(s) {
				background-image: url("data:image/svg+xml,%3Csvg width='33' height='8' viewBox='0 0 33 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451183 3.84171 0.451183 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM33 3.5L1 3.5V4.5L33 4.5V3.5Z' fill='%23717171'/%3E%3C/svg%3E%0A");
			}
		}

		@include media(xxxl) {
			left: 10px;
		}

		@include media(s) {
			left: 10px;
		}
	}
}

.slider--cases {
	.swiper-container {
		margin: -30px;
	}

	.swiper-slide {
		padding: 30px;
		height: auto;
		.cardBoxWrap {
			height: 100%;
		}
	}

	.swiper-wrapper {
		@include media(s) {
			margin-top: 20px;
		}
	}

	.swiper-button-next {
		margin-right: 12px;
		@include media(s) {
			margin-right: 15px;
			top: -10px;
		}
	}
}

.slider--challenges {
	position: relative;

	.swiper-button-next,
	.swiper-button-prev {
		position: absolute;
		right: -20px;
		top: 135px;
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg width='44' height='24' viewBox='0 0 44 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5L2 10.5ZM43.0607 13.0607C43.6464 12.4749 43.6464 11.5251 43.0607 10.9393L33.5147 1.3934C32.9289 0.807611 31.9792 0.807611 31.3934 1.3934C30.8076 1.97919 30.8076 2.92893 31.3934 3.51472L39.8787 12L31.3934 20.4853C30.8076 21.0711 30.8076 22.0208 31.3934 22.6066C31.9792 23.1924 32.9289 23.1924 33.5147 22.6066L43.0607 13.0607ZM2 13.5L42 13.5V10.5L2 10.5L2 13.5Z' fill='%23717171'/%3E%3C/svg%3E");
		}

		@include media(xxxl) {
			right: -60px;
		}

		@include media(l) {
			top: -40px;
			right: 0;
		}
	}

	.swiper-button-prev {
		right: unset;
		left: -20px;
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg width='44' height='24' viewBox='0 0 44 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42 13.5C42.8284 13.5 43.5 12.8284 43.5 12C43.5 11.1716 42.8284 10.5 42 10.5V13.5ZM0.939339 10.9393C0.353554 11.5251 0.353554 12.4749 0.939339 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.939339 10.9393ZM42 10.5L2 10.5V13.5L42 13.5V10.5Z' fill='%23717171'/%3E%3C/svg%3E");
		}

		@include media(xxxl) {
			left: -60px;
		}

		@include media(l) {
			left: 0;
		}
	}
}

.slider--cards {
	.swiper-container {
		margin-top: 40px;
	}

	.swiper-slide {
		display: flex;
		width: auto;
		.card {
			flex-shrink: 0;
			&:not(:last-child) {
				margin-right: 24px;
			}
		}
	}
}

