.text {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	@include media(s) {
		font-size: 16px;
	}
}

.text--l {
	font-size: 22px;
}

.text-s {
	font-size: 15px;
}

.text-xs {
	font-size: 14px;
}

.text--thin {
	max-width: 465px;
}
