.title {
	@include clear-title;
	font-size: 54px;
	@include media(s) {
		font-size: 28px;
	}
}

.title-l {
	@include clear-title;
	font-size: 40px;
	font-weight: bold;
	@include media(s) {
		font-size: 28px;
	}
}

.title-m {
	@include clear-title;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.3;
}

.title-s {
	@include clear-title;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.3;
}

.title-xs {
	@include clear-title;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
}

.title--thin {
	max-width: 645px;
	margin: 0 auto;
}

.title--thinS {
	max-width: 230px;
}

.title--gradient {
	background: linear-gradient(89.89deg, #0066FF 1.83%, #FF6C00 99.92%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

