.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.s-text-center {
	@include media(s) {
		text-align: center;
	}
}

.text-gray {
	color: $color-gray;
}

.text-brand {
	color: $color-brand;
}

.flex-center {
	display: flex;
	align-items: center;
	svg {
		flex-shrink: 0;
	}
}

.flex-start {
	display: flex;
	align-items: flex-start;
}

.flex-end {
	display: flex;
	align-items: flex-end;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.no-scroll {
	overflow: hidden;
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;

	symbol {
		fill: none;
	}
}

.ml-12 {
	margin-left: 12px;
}

.mt-12 {
	margin-top: 12px;
}

.fz-18 {
	font-size: 18px;
}
